* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: "Be Vietnam", sans-serif;
}

/* Reusable__action-link */

.action__link {
    display: inline-block;
    color: #fcf6f5;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    padding: 12px 32px;
    border-radius: 55px;
    background-color: #f3603c;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Reusable__content-text */

.content__text {
    color: #242d52;
    opacity: 0.5;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-bottom: 40px;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

/* Header */

.header {
    padding: 56px 0 120px 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-wrapper {
    width: 145px;
    height: 24px;
}

.header__logo {
    width: 100%;
    height: 100%;
}

.header__nav-list {
    display: flex;
    gap: 32px;
}

.header__nav-link {
    color: #242d52;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Hero */

.hero {
    padding-bottom: 130px;
}

.hero__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__title {
    color: #242d52;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    /* 114.286% */
    letter-spacing: -1px;
    margin-bottom: 16px;
}

.hero__content-text {
    width: 350px;
}

/* Intro */

.intro {
    padding-bottom: 120px;
}

.intro__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.intro__content-wrapper {
    width: 445px;
}

.intro__title {
    color: #242d52;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    /* 110% */
    letter-spacing: -0.714px;
    margin-bottom: 24px;
}

.intro__content-list {
    position: relative;
}

.intro__content-text {
    padding-right: 200px;
}

.intro__content-item {
    width: 445px;
}

.intro__content-item:nth-child(1)::before,
.intro__content-item:nth-child(2)::before,
.intro__content-item:nth-child(3)::before {
    content: "01";
    padding: 10px 23px;
    border-radius: 39px;
    background: #f3603c;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.286px;

    position: absolute;
    top: 0px;
    left: -90px;
}

.intro__content-item:nth-child(2)::before {
    content: "02";
    top: 180px;
}

.intro__content-item:nth-child(3)::before {
    content: "03";
    top: 340px;
}

.intro__content-title {
    color: #242d52;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.286px;
    margin-bottom: 20px;
}

/* Feedback */

.feedback {
    padding-bottom: 120px;
}

.feedback__title {
    color: #242d52;
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px; /* 110% */
    letter-spacing: -0.714px;
}

.feedback__content-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
}

.feedback__content-list {
    position: relative;
    width: 50%;
    background: #fafafa;
    text-align: center;
    padding: 60px 40px 40px 40px;
}

.feedback__avatar {
    position: absolute;
    width: 72px;
    height: 72px;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.feedback__name {
    color: #242d52;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.286px;
    margin-bottom: 20px;
}

.feedback__text {
    color: #242d52;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.5;
    margin-bottom: 40px;
}

.feedback__action-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

/* Community */

.community {
    padding: 65px 0;
    background-image: url("./image/community-bg-img.svg");
}

.community__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.community__title {
    width: 445px;
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px; /* 110% */
    letter-spacing: -0.714px;
}

.community__action-link {
    color: #f3603c;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 12px 32px;
    background-color: #fff;
    border-radius: 55px;
}

/* Footer */

.footer {
    padding: 60px 0;
    background-color: #1d1e25;
}

.footer__logo {
    margin-bottom: 80px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__nav-list_wrapper {
    display: flex;
    gap: 200px;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.footer__nav-link {
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.234px;
}

.footer__contact-input {
    color: #8d8d8d;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.1px;

    padding: 15px 40px 15px 15px;
    border-radius: 22px;
    background: #fff;
    border: none;
    margin-right: 10px;
}

.footer__contact-btn {
    color: #fcf6f5;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border-radius: 22px;
    background: #f3603c;
    border: none;
    padding: 15px 24px;
}
